<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    <center>
        <h1 style="color: crimson;">Dealing with Html forms using in Flask</h1>
        <form  method="POST">
            <label for="nam">UserName</label>
            <input type="text" name="na" id="na">
            <br>
            <br>
            <label for="ln">LastName</label>
            <input type="text" name="ln" id="ln">
            <br>
            <br>
            <input type="submit" value="submit" class="btn btn-danger">
        </form>
    </center>
</body>
</html>